<header>
  <h1 class="title">I - s e k i 2</h1>
  <ul>
    <li>ログイン</li>
    <li>新規登録</li>
  </ul>
</header>

<div class="main">
  <ul>
    <li>
      <div class="user_info">
        <img src="https://sunagitsune.com/wp-content/uploads/2019/04/menu-1909982_1280.jpg" alt="">
        <div class="user_info_detail">
          <div class="user_nickname">かわもと|</div>
          <div class="user_area">難波|</div>
          <div class="user_people_num">3人</div>
        </div>
        <p class="user_text">よろしくです</p>
      </div>
    </li>
    <li>
      <div class="user_info">
        <img src="https://sunagitsune.com/wp-content/uploads/2019/04/menu-1909982_1280.jpg" alt="">
        <div class="user_info_detail">
          <div class="user_nickname">かわもと|</div>
          <div class="user_area">難波|</div>
          <div class="user_people_num">3人</div>
        </div>
        <p class="user_text">よろしくです</p>
      </div>
    </li>
    <li>
      <div class="user_info">
        <img src="https://sunagitsune.com/wp-content/uploads/2019/04/menu-1909982_1280.jpg" alt="">
        <div class="user_info_detail">
          <div class="user_nickname">かわもと|</div>
          <div class="user_area">難波|</div>
          <div class="user_people_num">3人</div>
        </div>
        <p class="user_text">よろしくです</p>
      </div>
    </li>
    <li>
      <div class="user_info">
        <img src="https://sunagitsune.com/wp-content/uploads/2019/04/menu-1909982_1280.jpg" alt="">
        <div class="user_info_detail">
          <div class="user_nickname">かわもと|</div>
          <div class="user_area">難波|</div>
          <div class="user_people_num">3人</div>
        </div>
        <p class="user_text">よろしくです</p>
      </div>
    </li>
    <li>
      <div class="user_info">
        <img src="https://sunagitsune.com/wp-content/uploads/2019/04/menu-1909982_1280.jpg" alt="">
        <div class="user_info_detail">
          <div class="user_nickname">かわもと|</div>
          <div class="user_area">難波|</div>
          <div class="user_people_num">3人</div>
        </div>
        <p class="user_text">よろしくです</p>
      </div>
    </li>
  </ul>
</div>
